<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>the.market.coder — AI Stock Intelligence</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/logo.jpeg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<header class="app-header">
  <div class="nav-left">
    <div class="brand">the.market.coder</div>
    <div class="subtitle">AI-powered stock discovery for Indian markets</div>
  </div>

  <!-- Hamburger -->
  <div class="nav-toggle" onclick="toggleNav()">☰</div>
  <nav class="nav-right" id="navMenu">
    <a href="/">Home</a>
    {% if request.session.get("user_email") %}
    <a href="/dashboard">Dashboard</a>
    <a href="/community">Community</a>
    <a href="/news">News</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}
  </nav>
</header>
<!-- {% if request.session.get("user_name") %}
<div class="panel" style="margin-bottom:24px; text-align: center;">
  <span class="subtitle">
    Logged in as <strong>{{ request.session.get("user_name") }}</strong>
  </span>
</div>
{% endif %} -->


<main class="app-container">
  {% block content %}{% endblock %}
</main>

<footer class="app-footer">
  <div class="footer-content">

    <div class="footer-left">
      <span class="footer-brand">the.market.coder</span>
      <span class="footer-sep">·</span>
      <span>AI Market Intelligence</span>
      <span class="footer-sep">·</span>
      <span>Built by Yash Gupta</span>
    </div>

    <div class="footer-right">
      <a href="https://github.com/yashgupta0856" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/yashgupta0856/" target="_blank">LinkedIn</a>
      <a href="https://x.com/_yash_gupta_13" target="_blank">X</a>
    </div>

  </div>
</footer>

<script>
function toggleNav() {
  document.getElementById("navMenu").classList.toggle("active");
}
</script>


<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

</body>
</html>
