{% extends "base.html" %}
{% block content %}

<section class="card center">
    <h1>Community Access</h1>

    
    {% if pending %}
    <div class="info-box">
        Payment submitted. Verification in progress (within 1 hour).
    </div>
    {% else %}
    <p>
        One-time ₹99 verification fee unlocks
        <strong>1 months</strong> of premium community access.
    </p>
        <img src="/static/payment.jpeg" width="200">

        <form method="post" action="/payment/upload" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <button class="btn-primary" type="submit">
                Upload Payment Proof
            </button>
        </form>
    {% endif %}
</section>

{% endblock %}
